{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/bmin.css' %}">

</head>
<body>
    <div class="cart-container">
        <h1 class="cart-title">Your Cart</h1>
        {% if items %}
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <!--<th>Sub-Total</th>-->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><img src="{{ item.product.product_img }}" alt="{{ item.product.product_name }}" class="cart-item-img"></td>
                            <td>{{ item.product.product_name }}</td>
                            <td>Rs.{{ item.product.price }}</td>
                            <td>
                                <a href="{% url 'decrease_item_quantity' item.id %}" class="btn btn-secondary">-</a>
                                {{ item.quantity }}
                                <a href="{% url 'increase_item_quantity' item.id %}" class="btn btn-secondary">+</a>
                            </td>
                            <!--<td>{{ item.product.price|floatformat:2|add:item.quantity }}</td>-->
                            <td>
                                <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="cart-total">
                <div class="cart-total-label">Subtotal:</div>
                <div class="cart-total-amount">Rs.{{ total_price }}</div>
            </div>
            <!-- <a href="" class="checkout-button">Proceed to Checkout</a> -->
        {% else %}
            <p class="empty-cart-message">Your cart is empty.</p>
        {% endif %}
    </div>
    <form id="paymentForm" action="{% url 'success' %}" method="POST">
        {%csrf_token%}
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_2BxfpkwhDFo49m" 
        data-amount = "{{final_price}}"
        data-order_id="{{order_id}}"
        data-buttontext="Checkout"
        data-name="{{products.prod_name}}"
        data-description="{{products.prod_items}}"
        data-prefill.name="Gaurav Kumar"
        data-prefill.email="gaurav.kumar@example.com"
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden" style="background-color: blue;">
    </form>
    
</body>
</html>
