body{
  overflow-x: hidden;
}

/* Left Side Category list */

/* .category_container {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: auto;
  margin-top: 70px;
  height: 89.2vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.grid1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
  padding: 0;
}
.cate_list {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  height: 100%;
  width: 20rem;
  background-color: rgba(211, 211, 211, 0.457);
  padding-top: 90px;
  padding-bottom: 50px;
}
.cate_list h1 {
  position: relative;
  right: 75px;
}
.all_catelist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0;
  width: 19rem;
  box-sizing: border-box;
  padding-right: 50px;
  padding-left: 20px;
  position: relative;
  font-size: larger;
  font-weight: 600;
}
.all_catelist:hover {
  border-left: 6px solid rgb(116, 211, 0);
  background-color: rgba(116, 211, 0, 0.393);
}
.all_catelist img {
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

#hr1 {
  margin-top: 20px;
  width: 100%;
  border: 1px solid lightgray;
}

.all_cate {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 0;
  width: 19rem;
  height: 3.5rem;
  box-sizing: border-box;
  gap: 20px;
  margin-top: 10px;
  padding-right: 50px;
  padding-left: 20px;
  position: relative;
  font-size: 12pt;
  font-weight: 900;
}
.all_cate:hover {
  border-left: 6px solid rgb(116, 211, 0);
  background-color: rgba(116, 211, 0, 0.393);
}
.all_cate img {
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
} */

/* Left Side Category list END */

.grid2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#all_products_heading {
  position: absolute;
  top: 0rem;
  left: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.product_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: end;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0px 8.3rem;
  padding-top: 80px;
  gap: 20px;
  position: relative;
  left: 50px;
  overflow-x: hidden;
  margin-bottom: 10px;
}
.card {
  gap: 5px;
  box-sizing: border-box;
  width: 13rem;
  height: 20rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card:hover {
  background: rgb(244 244 244);
}
.pro_info {
  position: relative;
  top: -20px;
}

.product_img {
  border: 1px solid lightgray;
  box-sizing: border-box;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.product_header {
  font-size: 10pt;
  font-weight: 300;
  width: 145px;
  margin: 0;
  text-align: start;
}
.product_quantity {
  font-size: small;
  width: 145px;
  margin: 0;
}
.price_div {
  font-size: large;
  width: 145px;
  margin: 0;
}
.add_to_card_btn {
  border: 1px solid rgb(0, 211, 186);
  background-color: rgba(0, 211, 200, 0.194); /* rgba(116, 211, 0, 0.393) */
  width: 12rem;
  height: 2rem;
  border-radius: 10px;
  color: #000; /* rgb(116, 211, 0) */
  font-weight: 800;
}
.add_to_card_btn:hover {
  background-color: rgb(116, 211, 0);
  border: 1px solid rgb(116, 211, 0);
  color: #fff;
}
